 # Byte-compiled / optimized / DLL files
 __pycache__/
 *.py[cod]

 # Jupyter Notebook checkpoints
 .ipynb_checkpoints/

 # Marimo/JupyterLab settings & workspaces
 .jupyter/lab/workspaces/
 .jupyter/lab/user-settings/

 # Virtual environments
 .venv/

 # Pytest cache
 .pytest_cache/

 # Egg and wheel info
 *.egg-info/